#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.navbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
}